<!--#include virtual="/graphics/soup/bowl/v1/standalone/head.html"-->
<%- include('_partials/meta.html') %>
<link rel="stylesheet" type="text/css" href="css/index.css"/>

<!--#include virtual="/graphics/soup/bowl/v1/standalone/neck.html"-->
<div class="dvz-v0-ad dvz-v0-ad-top"></div>
<!--#include virtual="/graphics/soup/bowl/v1/standalone/nav.html"-->

<div class="dvz-content">
  <section class="lede">
    <%# For an article with no lede image, delete div.lede-image %>
    <%# If the headline should be on top of the lede image, put h1.article-title inside of div.lede-image %>
    <div class="lede-image" style="background-image: url('<%= locals.bannerImage %>');"></div>

    <h1 class="copy-width article-title"><%= h.smartQuotes(headline) %></h1>

    <div class="copy-width bydek">
      <div class="byline">
        By <%- h.toSentence(authors.map(author => include('_partials/author.html', { author }))) %>
      </div>
      <div class="pubdate">
        <span><% if (updatedAt) { %>Published: <% } %><%- include('_partials/time.html', { utc: publishedAt, nyc: publishedAtNYC }) %></span>
        <% if (updatedAt) { %>
          | <span>Updated: <%- include('_partials/time.html', { utc: updatedAt, nyc: updatedAtNYC }) %></span>
        <% } %>
      </div>
      <div class="dvz-social-media-buttons dvz-social-media-notext"></div>
    </div>
  </section>

  <section class="container-width">
    <div class="copy-width copy-block">
      <%# This is how you would load some paragraphs from `index.aml` but feel free to modify to your wishes %>
      <% dek.forEach(graf => { %>
        <p><%- h.prettyCopy(graf.value) %></p>
      <% }) %>
    </div>

    <figure class="chart-block copy-width">
      <h4 class="chart-title">Family Affair</h4>
      <div class="chart-dek"></div>
      <div class="chart-box"><%- include('_ai2html/clans.ai2html.html') %></div>
    </figure>

  </section>




  <section class="container-width">
    <div class="copy-width copy-block">
      <%# This is how you would load some paragraphs from `index.aml` but feel free to modify to your wishes %>
      <% dek1.forEach(graf => { %>
        <p><%- h.prettyCopy(graf.value) %></p>
      <% }) %>
    </div>
</section>

 <section class="container-width">
    <div class="copy-width copy-block">
    <h3>Duterte</h3>
      <% dek2.forEach(graf => { %>
        <p><%- h.prettyCopy(graf.value) %></p>
      <% }) %>
    </div>
</section>

 <section>

    <figure class="chart-block copy-width">
      <h4 class="chart-title"></h4>
      <div class="chart-dek"></div>
      <div class="chart-box"><%- include('_ai2html/duterte.ai2html.html') %></div>
    </figure>
  
  </section>


 <section class="container-width">
    <div class="copy-width copy-block">
      <h3>Marcos</h3>
      <% dek3.forEach(graf => { %>
        <p><%- h.prettyCopy(graf.value) %></p>
      <% }) %>
    </div>

 <figure class="chart-block copy-width">
      <h4 class="chart-title"></h4>
      <div class="chart-dek"></div>
      <div class="chart-box"><%- include('_ai2html/marcos.ai2html.html') %></div>
    </figure>

</section>

<section class="container-width">
    <div class="copy-width copy-block">
     <h3>Villar</h3>
      <% dek5.forEach(graf => { %>
        <p><%- h.prettyCopy(graf.value) %></p>
      <% }) %>
    </div>

     <figure class="chart-block copy-width">
      <h4 class="chart-title"></h4>
      <div class="chart-dek"></div>
      <div class="chart-box"><%- include('_ai2html/villar.ai2html.html') %></div>
    </figure>
  
  </section>

 <section class="container-width">
    <div class="copy-width copy-block">
      <h3>Cayetano</h3>
      <% dek4.forEach(graf => { %>
        <p><%- h.prettyCopy(graf.value) %></p>
      <% }) %>
    </div>

 <figure class="chart-block copy-width">
      <h4 class="chart-title"></h4>
      <div class="chart-dek"></div>
      <div class="chart-box"><%- include('_ai2html/cayetano.ai2html.html') %></div>
    </figure>

</section>


  


  <section class="container-width">
    <div class="copy-width copy-block">
     <h3>Aquino</h3>
      <% dek6.forEach(graf => { %>
        <p><%- h.prettyCopy(graf.value) %></p>
      <% }) %>
    </div>

     <figure class="chart-block copy-width">
      <h4 class="chart-title"></h4>
      <div class="chart-dek"></div>
      <div class="chart-box"><%- include('_ai2html/aquino.ai2html.html') %></div>
    </figure>
  
  </section>

  <section class="container-width">
    <div class="copy-width copy-block">
     <h3>Osmeña</h3>
      <% dek7.forEach(graf => { %>
        <p><%- h.prettyCopy(graf.value) %></p>
      <% }) %>
    </div>

      <figure class="chart-block copy-width">
      <h4 class="chart-title"></h4>
      <div class="chart-dek"></div>
      <div class="chart-box"><%- include('_ai2html/osmena.ai2html.html') %></div>
    </figure>

 </section>



  <section class="container-width">
    <div class="copy-width copy-block">
     <h3>Estrada</h3>
      <% dek8.forEach(graf => { %>
        <p><%- h.prettyCopy(graf.value) %></p>
      <% }) %>
    </div>

    <figure class="chart-block copy-width">
      <h4 class="chart-title"></h4>
      <div class="chart-dek"></div>
      <div class="chart-box"><%- include('_ai2html/estrada.ai2html.html') %></div>
    </figure>

 </section>


  <section class="container-width">
    <div class="copy-width copy-block">
     <h3>Binay</h3>
      <% dek9.forEach(graf => { %>
        <p><%- h.prettyCopy(graf.value) %></p>
      <% }) %>
    </div>

     <figure class="chart-block copy-width">
      <h4 class="chart-title"></h4>
      <div class="chart-dek"></div>
      <div class="chart-box"><%- include('_ai2html/binay.ai2html.html') %></div>
    </figure>

 </section>


  <section class="container-width">
    <div class="copy-width copy-block">
      <% dek10.forEach(graf => { %>
        <p><%- h.prettyCopy(graf.value) %></p>
      <% }) %>
    </div>

 </section>

  <section class="footer copy-width">
    <p>Source:</p>
  </section>


<div class="dvz-v0-ad"></div>

<div class="dvz-content">
  <section class="dvz-recirculator container-width"></section>
</div>

<script src="js/main.js"></script>
<!--#include virtual="/graphics/soup/bowl/v1/standalone/foot.html"-->
